/* @import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

body {
  max-width: 600px;
  margin: 0 auto;
  padding: 5vw;
}

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
} */

.scrollable-menu {
  height: auto;
  max-height: 450px;
  overflow-x: hidden;
}

.navbar-nav li:hover > ul.dropdown-menu {
  display: block;
}
.dropdown-submenu {
  position:relative;
}
.dropdown-submenu>.dropdown-menu {
  top:0;
  left:100%;
  margin-top:-6px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
  text-decoration: underline;
  transform: rotate(-90deg);
} 

.table-programacao {
  background-color: #F0F0F0;
  background-image: url(assets/images/table_background.png);
  /* opacity: 0.5; */
  font-size: 12px;
  align-content: center;
  text-align: center; 
  border: 1px solid black;
  margin-top: 15px;
  width: 100%;
  text-align: center;
  overflow:hidden;
  border-collapse:separate;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
}

.lista-salas{
  background-image: linear-gradient(to bottom, #555555, black); 
  color: white;
}

a:link {
  text-decoration: none;
}

/* visited link */
a:visited {
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: red;
}
